header {
  margin-top: 120px;
  height: 400px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #7c83e6;
  background-image: url("/images/axiom-pattern.png");
}