.profile {
  height: 400px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #4056a1;
  background-image: url("/images/axiom-pattern.png");
}